<div class="container">

  <div class="field">
    <%= form_with(model: [@learning.app, @learning]) do |f| %>
      <h4>学習メモ</h4>
      <div id='editor'>
        <%= f.text_area :memo, placeholder: "ご自由に記入してください。", class: "textarea-form", style: "min-height: 300px" %>
        <div id="marked-area"></div>
        <%= f.submit "メモを保存", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>

</div>
