<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <div class="app-show-box border-space">
        <div id="app-learning">
          <%= render 'learning_status', app: @learning.app, learning: @learning %>

          <div id="learning-memo">
            <h4>学習メモ</h4>
            <div class="back-grey">
              <% if @learning.memo.present? %>
                <%= markdown(@learning.memo) %>
              <% else %>
                <p>学習メモはありません。</p>
              <% end %>
            </div>
            <%= link_to "学習メモを編集する", edit_app_learning_path(@learning.app), class: "btn btn-primary" %>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <%= render 'learning_linkbar', app: @learning.app, learning: @learning %>
    </div>
  </div>
</div>