li#following
  = link_to "フォロー数 #{user.followings.count}人", following_user_path(user), class: "btn-original3"
li#followers
  = link_to "フォロワー数 #{user.followers.count}人", followers_user_path(user), class: "btn-original3"
