| $("#follow-form-
= @follow.id
| ").html("
= j(render 'relationships/follow_form', user: @follow)
| "); $("#user-follow").html("
= j(render 'relationships/follow_count', user: @user)
| "); $("#follow-count").html("
= j(render 'relationships/follow_count', user: @user)
| ");
