<ul id="language-index">
  <% languages.each do |language| %>
    <%= link_to language_path(language) do %>
      <li>
        <p><%= language.name %><span>（<%= language.apps.count %>）</span></p>
      </li>
    <% end %>
  <% end %>
</ul>