<h4><%= link_to app.title, app_path(app) %></h4>
<%= render 'reviews/average_rate', app: app %>
<p>開発言語：<%= link_to app.lang.name, lang_path(app.lang) %></p>
<div class="tag-lists">
  <% app.tag_list.each do |tag| %>
    <span class="tag-link"><%= link_to tag, tag_apps_path(tag_name: tag), class: "btn-xs btn-default btn-tag" %></span>
  <% end %>
</div>
