<div class="container">
  <div class="row">
    <div class="col-sm-3 sidebar fixed">
      <%= render 'users/user_sidebar', user: @user %>
    </div>

    <div class="col-sm-9">
      <div class="user-index back-white">
        <ul class="nav nav-tabs">
          <li><%= link_to "フォロー中", following_user_path(@user) %></li>
          <li class="active"><%= link_to "フォロワー", followers_user_path(@user) %></li>
        </ul>
        <% if @users.present? %>
          <%= render 'user_index', users: @users %>
        <% else %>
          <p>フォロワーはいません。</p>
        <% end %>
      </div>
    </div>

  </div>
</div>