.container
  - if @user.status == true
    = render 'user_info', user: @user
    .row.back-white
      #user-app
        ul.user-app-menu.nav.nav-tabs
          li.active
            = link_to "投稿#{@user.apps.count}件", user_path(@user)
          li
            = link_to "学習#{@user.learnings.count}件", learnings_user_path(@user)
          li
            = link_to "ストック#{@user. stocks.count}件", stocks_user_path(@user)
        #user-app-contents
          - if @post_apps.present?
            - @post_apps.each do |app|
              .my-app-box
                .row
                  .my-app.col-md-10
                    = render 'user_app_index', app: app
                  - if @user == current_user
                    .my-app-edit.col-md-2
                      - if app.status == true
                        = link_to "内容を編集する", edit_app_path(app), class: "btn btn-primary"
                      - else
                        p.btn-danger
                          | 非公開済みのアプリです
          - else
            h4
              | 投稿したアプリケーションはありません。
  - else
    h4
      | 退会済みのユーザーです。
