<div id="top-image">
  <div id="top-message">
    <h1>その経験を、未来のエンジニアのために</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="about-body">

        <section class="about-message">
          <h1>Concept</h1>
          <p>「Programming Drill（プログラミングドリル）」は、プログラミング学習者のためのアウトプット学習支援サービスです。プログラミング学習というと、今でこそオンライン教材やスクールなどが充実し、基礎学習のための環境が整ってきました。しかし、基礎学習を終えた後は、自らWebサービスを開発し、技術力の向上を図る他ありません。今は優秀な先輩エンジニアの方々も、きっと同じような道を辿り、試行錯誤を繰り返しながらWebサービスの開発を行われてきたことでしょう。<br><br>このサイトは、そのような先人たちの努力の賜物であるポートフォリオ（過去に開発したアプリケーション）を、初学者の方々がより効率的にスキルアップを図るため、Webサービス開発のためのアウトプット教材として活用します。</p>
        </section>

        <section class="about-message">
          <h1>Vision</h1>
          <p>このサイトが果たすべき役割は、現役エンジニアの方々の力をお借りし、未来のエンジニアの方々の学習を支援することです。その先には、エンジニア業界全体のレベルアップ・活性化に繋がること、そしてこれからの社会に、より大きな価値（幸福）が生まれていくことを期待しています。</p>
        </section>

      </div>
    </div>
  </div>
</div>
