<ul id="tag-index">
  <% ActsAsTaggableOn::Tag.most_used(30).each do |tag| %>
    <li class="tag-link current-tag">
      <%= link_to  "#{tag}（#{tag.taggings_count}）", tag_apps_path(tag_name: tag.name), class: "btn-xs btn-default btn-tag" %>
    </li>
  <% end %>
</ul>