.container
  .row.border-box.top-bottom-space
    .col-md-10.col-md-offset-1
      .new-app-confirm
        h4
          | アプリケーション名
        p
          = session[:app]["title"]
      .new-app-confirm
        h4
          | 開発言語
        p
          = @app.lang.name
      .new-app-confirm
        h4
          | アプリケーションの概要
        p
          = session[:app]["overview"]
      .new-app-confirm
        h4
          | アプリケーションURL
        = link_to session[:app]["app_url"], session[:app]["app_url"], target: :_blank
      .new-app-confirm
        h4
          | リポジトリURL
        = link_to session[:app]["repo_url"], session[:app]["repo_url"], target: :_blank
      .new-app-confirm
        h4
          | 機能
        p
          = session[:app]["function"]
      .new-app-confirm
        h4
          | 対象者
        p
          = session[:app]["target"]
      .new-app-confirm
        h4
          | タグ付け
        - if session[:app]["tag_list"]
          - session[:app]["tag_list"].each do |tag|
            span.tag-link
            p.btn.btn-tag
              = tag
      .actions.text-center
        = link_to "投稿する", apps_path, method: :post, class: "btn btn-original"
        = link_to "入力ページに戻る", apps_path(back: "render"), method: :post, class: "btn btn-original2"
