<div class="row">
  <div class="col-md-10 app-show-box border-space">
    <div id="app-hint">
      <%= render 'learnings/learning_status', app: @app, learning: @learning %>

      <div id="hint-info">
        <h4>ヒント</h4>
        <% if @app.hint.present? %>
          <%= @app.hint %>
        <% else %>
          <p>ヒントは投稿されていません。</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-1">
    <%= render 'learnings/learning_linkbar', app: @app, learning: @learning %>
  </div>
</div>
