<ul id="lang-index">
  <% langs.each do |lang| %>
    <%= link_to lang_path(lang) do %>
      <li>
        <p><%= lang.name %><span>（<%= lang.apps.pluck(:status).count(true) %>）</span></p>
      </li>
    <% end %>
  <% end %>
</ul>