ul#lang-index
  - langs.each do |lang|
    = link_to lang_path(lang) do
      li.btn.btn-default.current-lang
        p
          = lang.name
          span
            | （
            = lang.apps.pluck(:status).count(true)
            | ）
