/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 55px;
  background-color: #F6F6F6;
}

#header-top {
  background-color: #483D8B;
}
.header-logo img {
  width: 230px;
  height: 30px;
  margin-right: 45px;
}
#header-link {
  li {
    padding: 18px 15px 0  15px;
    font-size: 1.1em;
    a {
      color: #FFF;
      padding: 0;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
#header-mylink {
  padding: 8px 15px !important;
}
#app_search {
  padding: 13px 0px;
  margin: 0;
}
#q_title_cont {
  height: 30px;
}

//管理者用ヘッダ
#admin-header {
  background-color: #FFF;
  border-bottom: solid 1px #AAA;
  padding: 5px 0;
}
#header-admin-link {
  margin: 0;
  span {
    font-size: 1.1em;
  }
  #admin-success {
    color: green;
  }
  #admin-alert {
    color: red;
  }
  li {
    float: right;
    list-style: none;
    font-size: 1.1em;
    a {
      color: #000;
    }
  }
}

//フラッシュメッセージ
.header-flash {
  border-bottom: solid 1px #AAA;
}
#notice-flash {
  background-color: #DDD;
}
#success-flash {
  background-color: #FFFFE0;
}
#alert-flash {
  border-bottom: solid 1px #BB0000;
  background-color: #FFE4E1;
}
.flash {
  margin: 0;
  padding: 5px 0;
}
#alert {
  color: #BB0000;
}

.main-body {
  min-height: 600px;
  .container {
    margin-top: 20px;
  }
}

footer {
  #footer-top {
    padding-top: 50px;
    margin-top: 30px;
    height: 200px;
    background-color: #483D8B;
    border-top: solid 1px #AAA;
    border-bottom: solid 1px #AAA;
    a {
      font-size: 1.1em;
      color: #FFF;
    }
  }
  #footer-bottom {
    padding: 10px 0;
    text-align: center;
  }
}

//検索バー
.search {
  padding:6px 15px 6px 30px;
  margin:3px;
  background: image-url("search_icon.png") no-repeat 8px 6px;
  background-size: 15px;
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border:1px solid #d0d0d0;
  background-color:#fcfcfc;
}

//白背景のボックス、ボーダー
.border-box {
  border: solid 1px #AAA;
  background-color: #FFF;
  margin: 0;
  min-height: 600px;
  .border-left {
    border-left: solid 1px #AAA;
    min-height: 600px;
  }
}
.border-space{
  padding: 30px 40px;
}
.top-bottom-space {
  padding: 40px 0;
}

//アプリ詳細ページの白背景ボックス、ボーダー
.app-show-box {
  border: solid 1px #AAA;
  background-color: #FFF;
  min-height: 600px;
}

//白背景のみ
.back-white {
  background-color: #FFF;
  margin: 0;
  padding: 30px 40px;
}

//グレー背景のみ
.back-grey {
  background-color: #F6F6F6;;
  padding: 20px 20px;
}

//改行を反映
p {
  white-space: pre-wrap;
}

//オリジナルボタン
.btn-original {
  background-color: #FFD700;
  color: #000;
  font-size: 1.2em;
  padding: 5px 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: solid 1px #808080;
  border-radius: 20px;
  &:hover {
    background-color: #FF8C00;
  }
}

//オリジナルボタン2
.btn-original2 {
  background-color: #FFF;
  color: #000;
  font-size: 1.2em;
  padding: 5px 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: solid 1px #808080;
  border-radius: 20px;
  &:hover {
    background-color: #AAA;
  }
}

//エラーメッセージ
#error-explanation {
  border: solid 1px red;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.2);
  padding: 0 50px;
  margin-bottom: 30px;
}
.field_with_errors {
  display: contents;
  @extend .has-error;
}

//リンクボタンの間隔
.actions a {
  margin: 0 20px;
}

//アプリ詳細のリンクバー
.one-btn {
  margin-top: 30px;
}
.current-btn a, .one-btn a {
  width: 80%;
  border-radius: 0;
  padding: 15px 0;
}
.btn-active {
  background-color: #6A5ACD;
  color: #FFF;
  &:hover {
    background-color: #6A5ACD;
    color: #FFF;
  }
}

//編集ページのリンクバー
.edit-link {
  padding-left: 0;
  li {
  list-style: none;
  font-size: 16px;
  margin-bottom: 30px;
  }
}

//タグ
.tag-link {
  display: inline-block;
  margin: 0 5px 7px 0;
  .btn-tag {
    background-color: #CCC;
    padding: 4px 8px;
    &:hover {
      text-decoration: none;
    }
  }
}

//レビュー星
#star {
  display: inline-block;
  margin: 0 20px 10px 0;
}

.star-rate {
  display: inline-block;
}
span {
  font-size: 0.9em;
}

//アプリ一覧の各アプリ
.link-app-box {
  border-bottom: solid 1px #C0C0C0;
  padding: 10px 0;
  .link-app-user {
    float: left;
    margin-top: 10px;
  }
  .link-app-info {
    margin-left: 80px;
    h4 {
      margin: 5px 0;
    }
    .star-rate {
      margin-bottom: 5px;
      img {
        width: 13px;
        height: 13px;
      }
    }
  }
}

//マイページのアプリ一覧の各アプリ
.my-app-box {
  border-bottom: solid 1px #C0C0C0;
  padding: 10px 20px 15px;
}
.my-app {
  h4 {
    margin: 5px 0 10px 0;
  }
  .star-rate {
    display: inline-block;
    img {
      width: 13px;
      height: 13px;
    }
  }
  p {
    display: inline-block;
    margin-left: 20px;
  }
}
.my-learning-status {
  vertical-align: bottom;
  p {
    margin: 5px 0 0;
  }
  a {
    margin-top: 5px;
  }
}
.my-app-edit {
  margin-top: 20px;
}

//アプリ詳細
.app-info {
  .app-info-top {
    .app-post {
      span {
        font-size: 1.1em;
        vertical-align: bottom;
        margin-right: 10px;
      }
    }
    h1 {
      font-size: 40px;
      margin: 10px 0 5px;
    }
    p {
      margin: 15px 0 5px;
      font-size: 1.2em;
    }
  }
  .app-contents {
    h3 {
      margin: 50px 0 20px;
    }
    p, a {
      font-size: 1.2em;
      word-wrap: break-word;
    }
  }
}

//アプリ詳細の学習関連ページ
.learning-app-info {
  h1 {
    margin-bottom: 30px;
  }
  section {
    margin: 0 0 20px 20px;
    p {
      font-size: 1.2em;
    }
  }
}
.learning-status {
  margin: 40px 0;
  > .row > .field {
    h4 {
      display: inline-block;
    }
    form {
      display: inline-block;
      margin-left: 30px;
    }
  }
}

//横幅いっぱいの投稿フォーム
.textarea-form {
  width: 100%;
  min-height: 150px;
}

//ヒント・解説
#hint-info, #explanation-info p {
  font-size: 1.2em;
}

//質問、レビュー投稿
#review-form {
  margin-top: 30px;
  p {
    margin-top: 30px;
  }
}

#question-index > p, #review-index > p {
  margin-top: 30px;
}
.question-box, .review-box {
  border-top: solid 1px #C0C0C0;
  margin-top: 30px;
  padding-top: 20px;
}
.post-user {
  span {
    font-size: 1.1em;
    margin-right: 10px;
  }
}
.post-content {
  margin: 0 0 15px 40px;
  p {
    margin-top: 10px;
  }
}

//質問返信
.reply-index {
  padding-left: 35px;
  .reply {
    list-style: none;
    padding: 10px;
    border-top: solid 1px #C0C0C0;
    border-right: solid 1px #C0C0C0;
    border-left: solid 1px #C0C0C0;
    &:last-child {
      border-bottom: solid 1px #C0C0C0;
    }
  }
}
.reply-form {
  margin-left: 35px;
}

//セレクトボックス
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0.6em 2.0em 0.6em 0.5em; /* 文字周りの余白 */
  cursor: pointer; /* カーソルを指に */
  line-height: 14px; /* 行高 */
  font-size: 15px; /* フォントサイズ */
  border-radius: 4px; /* 角丸 */
  border: solid 1px #C0C0C0; /* 枠線 */
  background-color: #FFF;
  background-image:
    linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),
    linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
  background-size: 5px 5px, 5px 5px;
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-repeat: no-repeat;
}

//マイページ
#user-image {
  margin-top: 20px;
}
#user-info {
  margin-bottom: 40px;
  #user-acount {
    h3 {
      display: inline-block;
      margin-right: 30px;
      margin-bottom: 0;
    }
    a {
      vertical-align: bottom;
    }
  }
  #user-introduction {
    margin: 20px 0;
  }
}

//新規登録・ログイン
.new-user {
  width: 500px;
  margin: 50px auto;
  h3 {
    margin-bottom: 40px;
  }
  .actions {
    margin: 30px 0 20px 0;
  }
}

//パスワード入力フォーム(新規登録・ログイン)
.new-password-form {
  margin-bottom: 20px;
  label {
    width: 30%;
    vertical-align: top;
  }
  input {
    width: 65%;
    display: inline-block;
  }
  p {
    margin-left: 155px;
  }
}

//プロフィール編集画面のユーザ情報
.edit-user {
  img {
    float: left;
  }
  .edit-user-name {
    min-height: 150px;
    margin: 0 0 30px 200px;
    padding-top: 30px;
    h3 {
      margin-top: 0;
    }
  }
}

//ユーザ情報編集
.edit-user-form {
  width: 500px;
}

//ユーザ情報の入力フォーム
.user-form{
  margin-bottom: 20px;
  label {
    width: 20%;
    vertical-align: top;
  }
  input {
    width: 75%;
    display: inline-block;
  }
  textarea {
    width: 75%;
    min-height: 100px;
    display: inline-block;
  }
}

//パスワード変更
.edit-password-form {
  width: 500px;
}

//パスワード入力フォーム(変更・再設定)
.password-form {
  margin-bottom: 20px;
  label {
    width: 40%;
    vertical-align: top;
  }
  input {
    width: 55%;
    display: inline-block;
  }
  p {
    margin-left: 205px;
  }
}

//アプリ入力フォーム（共通）
.app-form {
  width: 90%;
  margin: 0 auto;
}
.new-app-form, .edit-app-form {
  margin-bottom: 30px;
  label {
    font-size: 1.2em;
    width: 25%;
    vertical-align: top;
    text-align: right;
    margin-right: 5%;
  }
  input {
    width: 65%;
    display: inline-block;
  }
  textarea {
    width: 65%;
    min-height: 100px;
    display: inline-block;
  }
  .mini-height {
    min-height: 54px;
  }
  p {
    margin: 0 0 0 30%;
  }
}

//アプリ編集
.edit-app-title h2 {
  margin: 10px 15px 50px 15px;
}

//アプリ入力フォーム（ヒント・解説編集）
.add-edit-app-form {
  width: 95%;
  margin: 0 auto 40px;
  label {
    font-size: 1.2em;
  }
  textarea {
    min-height: 400px;
  }
}

//アプリ投稿確認
.new-app-confirm {
  margin-bottom: 40px;
  h4 {
    font-weight: bold;
  }
  p, a {
    margin: 15px 0 5px;
    font-size: 1.2em;
    word-wrap: break-word;
  }
}

//削除ページ
.confirm-message {
  p {
    font-size: 17px;
  }
  a {
    margin: 40px 50px 0 0;
  }
}
#app-hidden {
  margin: 0 15px;
}

//検索バー全体
.category-bar {
  padding-top: 30px;
  width: 90%;
}

//言語別検索バー
#language-index {
  padding: 0;
  a {
    color: #000;
    &:hover {
      color: #483D8B;
      text-decoration: none;
    }
    li {
      list-style: none;
      padding: 20px 10%;
      border-bottom: solid 1px #DDD;
      &:hover {
        background-color: #EEE;
        border-bottom: solid 3px #6A5ACD;
      }
      p {
        margin: 0;
        font-size: 18px;
        span {
          font-size: 13px;
        }
      }
    }
  }
}

//タグ別検索バー
#tag-index {
  padding: 0;
  li {
    list-style: none;
    margin-top: 5px;
    margin-left: 10px;
    a:hover {
      border: solid 1px #6A5ACD;
      color: #6A5ACD;
    }
  }
}

//タブメニュー
.nav-tabs > li.active > a {
  background-color: #D9E5FF;
  border-radius: 0;
  border: none;
  border-bottom: solid 3px #6A5ACD;
  &:hover, &:focus {
    background-color: #D9E5FF;
    border-radius: 0;
    border: none;
    border-bottom: solid 3px #6A5ACD;
  }
}

//アバウトページ
#top-image {
  background-image: image-url("priscilla-du-preez-XkKCui44iM0-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 500px;
  position: relative;
}
#top-message {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFF;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  h1 {
    padding-top: 180px;
    font-size: 45px;
    font-weight: bold;
  }
}
#about-body {
  section {
    margin: 30px auto 80px;
    h1 {
      text-align: center;
      margin-bottom: 30px;
    }
    p {
      font-size: 1.3em;
    }
  }
}

//ページネーション
.paginate {
  text-align: center;
}
.pagination>li>a {
  border: none;
  color: #696969;
}
.pagination>.active>a {
  background: #FFD700;
  border-radius: 15px;
  color: #696969;
  &:hover {
    background: #FFD700;
    color: #696969;
  }
}
.pagination>li>a:hover {
  border-radius: 15px;
}


@media screen and (max-width:768px) {
  .new-app-form, .edit-app-form {
    label {
      width: 100%;
      text-align: left;
    }
    input, textarea {
      width: 100%;
    }
    p {
      margin: 0;
    }
  }
}

@media screen and (max-width:580px) {
  .new-user {
    width: 100%;
  }
  .new-password-form {
    label {
      min-width: 100%;
    }
    input {
      min-width: 100%;
    }
    p {
      margin-left: 0;
    }
  }

  .edit-user {
    width: 100%;
    img {
      float: none;
    }
    .edit-user-name {
      margin: 0;
    }
  }
  .edit-user-form {
    width: 100%;
  }
  .user-form{
    label {
      width: 100%;
    }
    input {
      width: 100%;
    }
    textarea {
      width: 100%;
    }
  }

  .edit-password-form {
    width: 100%;
  }
  .password-form {
    label {
      width: 100%;
    }
    input {
      width: 100%;
      display: inline-block;
    }
    p {
      margin-left: 0;
    }
  }
}
