<p><%= @resource.email %>様</p>

<p>この度は、Programming Drillをご利用頂き、誠にありがとうございます。</p>
<p>パスワード再設定の手続きが行われましたので、下記パスワード確認用URLを開き、パスワードの再設定を行ってください。</p>

<%= link_to edit_password_url(@resource, reset_password_token: @token) do %>
  <p>
    パスワード再設定URL<br>
    <%= edit_password_url(@resource, reset_password_token: @token) %>
  </p>
<% end %>

<br>
<p>--------------------------------------------------------------</p>
<p>本メールは、パスワード再設定のお手続きを頂いたお客様に送信しております。</p>
<p>内容にお心当たりのない場合は、お手数ですがメールの削除をお願いいたします。</p>
