<div class="star-rate" data-score="<%= app.average_rate %>"></div>
<span class="average-score">
  <% if app.reviews.present? %>
    （<%= app.average_rate.round(2) %>）
  <% else %>
    （評価無し）
  <% end %>
</span>