<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <div class="app-show-box border-space">
        <article class="app-info">
          <%= render 'apps/app_info_top', app: @app %>
        </article>

        <div id="review-contents">
          <div id="review-form" class="field">
            <%= render 'review_form', my_review: @my_review, learning: @learning, app: @app %>
          </div>
        </div>

        <div id="review-index">
          <% if @reviews.present? %>
            <%= render 'review_index', reviews: @reviews %>
          <% else %>
            <p>このアプリケーションは、まだレビューがありません。</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <%= render 'learnings/learning_linkbar', app: @app, learning: @learning %>
    </div>
  </div>
</div>