<% if model.errors.any? %>
  <div id="error-explanation">
    <h4>正しく入力されていない項目があります。</h4>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>