<% if flash[:notice] %>
  <div class="header-flash" id="notice-flash">
    <div class="container">
      <p class="flash" id="notice"><%= flash[:notice] %></p>
    </div>
  </div>
<% elsif flash[:success] %>
  <div class="header-flash" id="success-flash">
    <div class="container">
      <p class="flash" id="success"><%= flash[:success] %></p>
    </div>
  </div>
<% elsif flash[:alert] %>
  <div class="header-flash" id="alert-flash">
    <div class="container">
      <p class="flash" id="alert"><%= flash[:alert] %></p>
    </div>
  </div>
<% end %>